<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjQy1mBtGLsjYy0NX29kasSlH9C2IhmEU</string>
	<key>GCM_SENDER_ID</key>
	<string>389588150018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.b2inedutech.freeCodeCryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>vutfiq-s-crypto-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>vutfiq-s-crypto-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389588150018:ios:d91ff34f2c4e8746a9841b</string>
</dict>
</plist>